<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 상세페이지</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

    <script>
     window.onload = function(){
     let tableAnchor1 = document.querySelector('#list'); //선택자
     let tableAnchor2 = document.querySelector('#update');

     let parameter = window.location.href.split("?")[1]; // 페이지 url
     let parameter2 = window.location.href.split("/")[4].split("?")[1];
     tableAnchor1.href += "search?"+parameter;
     tableAnchor2.href += "?"+parameter2;
       }
    </script>


</head>
<body>
<header th:insert="fragments/header.html"></header>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>제목</th>
                <td th:text="${boardDto.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${boardDto.writer}"></td>
            </tr>
            <tr>
                <th>작성일자</th>
                <td th:text="${#temporals.format(boardDto.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
           <tr>
                <th>조회수</th>
                <td th:text = "${boardDto.hits}"></td>
            </tr>

            <tr>
                <th>내용</th>
                <td th:text="${boardDto.content}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class = "row-">
</div>
<div class="row">
    <div class="col text-center">
        <a id=update class="btn btn-dark" th:href="@{/post/update/{id}(id=${boardDto.id})}" role="button">수정</a>
        <a id=delete class="btn btn-dark" th:href="@{/post/delete/{id}(id=${boardDto.id})}" role="button">삭제</a>
        <a id=list class="btn btn-dark" th:href="@{/}" role="button">목록으로 가기</a>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
