<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 상세페이지</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>

    <style>
    .enter-show {
         white-space: pre-line;
    }

    .container2 {
        margin-top: 20px;
    }

    #commentWriter{
        width: 30%;
    }
    </style>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script th:inline="javascript">

    const commentWrite = () => {
        const id = [[${boardDto.id}]];
        const writer = document.getElementById('commentWriter').value;
        const content = document.getElementById('commentContent').value;
        console.log("id : " , id);
        console.log("작성자 : " , writer);
        console.log("내용 : " , content);
        // 위의 작성된 값을 controller로 보내기

        $.ajax({
            // 요청 방식 : post, 요청 주소 : /post, 요청 데이터 : 작성자, 작성내, 게시글 번호
            type : "post",
            url : "/comment/save",
            contentType: 'application/json',
            data : JSON.stringify({
            "commentWriter" : writer,
            "commentContent" : content,
            "boardId" : id
            }),
            success : function(res){
            console.log("요청 성공", res);

            var html="";

            for(let i in res){
                $("#commentList").remove();
                var c_id = res[i].id;
                //var c_id = i+1;
                var writer = res[i].commentWriter;
                var content = res[i].commentContent;

                function printComment(c_id, writer, content){
                    var get_html = '<tr id =' + 'commentList' + '>'
                         //+ '<tr th:id=' + c_id + '>'
                         //+ '<td id='
                         //+ 'IdPrint'
                         //+ '>'
                         //+ c_id
                         //+ '</td>'
                         + '<td id='
                         + 'writerPrint'
                         + '>'
                         + writer
                         + '</td>'
                         + '<td id='
                         + 'contentPrint'
                         + '>'
                         + content
                         + '</td>'
                         + '<td id='
                         + 'buttonPrint'
                         + '>'
                         + '<button id='
                         //+ 'comment-delete-btn '
                         + c_id
                         + ' class='
                         + '"btn btn-dark float-right"'
                         + 'onclick='
                         + 'commentDelete(this.id)'
                         + '>'
                         + '댓글삭제'
                         + '</button>'
                         + '</td>'
                         + '</tr>'
                         + '</tr>';

                return get_html;
            }

                html = html + printComment(c_id, writer, content);

                console.log("id: ", c_id);
                console.log("writer: ", writer);
                console.log("content: ", content);

            }
                $(".commentListWrap").append(html);
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContent').value = '';

            },
            error : function(err){
            console.log("요청 실패", err);
            }
        });
    }

   const commentDelete = (clicked_id) => {
       const id = [[${boardDto.id}]];
       const delete_id = clicked_id;
       console.log("delete id : " , delete_id);

       $.ajax({
           type : "get",
           url : "/comment/delete",
           data : {
           "id" : delete_id,
           "boardId" : id
           },
           success : function(res){
           console.log("요청 성공", res);

           var html="";
           $("#commentList").remove();
           for(let i in res){
                $("#commentList").remove();
                var c_id = res[i].id;
                //var c_id = ;
                var writer = res[i].commentWriter;
                var content = res[i].commentContent;

                function printComment(c_id, writer, content){
                    var get_html = '<tr id =' + 'commentList' + '>'
                         //+ '<tr th:id=' + c_id + '>'
                         //+ '<td id='
                         //+ 'IdPrint'
                         //+ '>'
                         //+ c_id
                         //+ '</td>'
                         + '<td id='
                         + 'writerPrint'
                         + '>'
                         + writer
                         + '</td>'
                         + '<td id='
                         + 'contentPrint'
                         + '>'
                         + content
                         + '</td>'
                         + '<td id='
                         + 'buttonPrint'
                         + '>'
                         + '<button id='
                         //+ 'comment-delete-btn '
                         + c_id
                         + ' class='
                         + '"btn btn-dark float-right"'
                         + 'onclick='
                         + 'commentDelete(this.id)'
                         + '>'
                         + '댓글삭제'
                         + '</button>'
                         + '</td>'
                         + '</tr>'
                         + '</tr>';

                return get_html;
            }

                html = html + printComment(c_id, writer, content);

                console.log("id: ", c_id);
                console.log("writer: ", writer);
                console.log("content: ", content);

            }
                $(".commentListWrap").append(html);
                document.getElementById('commentWriter').value = '';
                document.getElementById('commentContent').value = '';

           },
           error : function(res){
           console.log("요청 실패", err);
           }

       });
   }

    window.onload = function(){
    let tableAnchor1 = document.querySelector('#list'); //선택자
    let tableAnchor2 = document.querySelector('#update');


    let parameter = window.location.href.split("?")[1]; // 페이지 url
    let parameter2 = window.location.href.split("/")[4].split("?")[1];
    tableAnchor1.href += "search?"+parameter;
    tableAnchor2.href += "?"+parameter2;

    var text = document.querySelector("#textarea").textContent;
    //text = text.replaceAll(/<br>/g, "\r\n");
    }

</script>
</head>

<body>

<header th:insert="fragments/header.html"></header>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>제목</th>
                <td th:text="${boardDto.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${boardDto.writer}"></td>
            </tr>
            <tr>
                <th>작성일자</th>
                <td th:text="${#temporals.format(boardDto.createdTime, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
           <tr>
                <th>조회수</th>
                <td th:text = "${boardDto.hits}"></td>
           </tr>

            <tr>
                <th>내용</th>
                <td class="enter-show" id = "textarea" th:text="${boardDto.content}"></td>
<!--                <td id = "textarea" th:text="${boardDto.content}"></td>-->
            </tr>

        </tbody>
    </table>
</div>
<!--<div class = "row-">-->
<!--</div>-->
<div class="row">
    <div class="col text-center">
        <a id=update class="btn btn-dark" th:href="@{/post/update/{id}(id=${boardDto.id})}" role="button">수정</a>
        <a id=delete class="btn btn-dark" th:href="@{/post/delete/{id}(id=${boardDto.id})}" role="button">삭제</a>
        <a id=list class="btn btn-dark" th:href="@{/}" role="button">목록으로 가기</a>
    </div>
</div>

<div class="container2 container">

    <strong>댓글</strong><br><br>
<!--        댓글 내용 출력-->
        <div id = "comment_list" class="container">
            <table class="table commentListWrap">
                <tr>
<!--                    <th>댓글번호</th>-->
                    <th>댓글작성자</th>
                    <th>댓글내용</th>
<!--                    <th>작성시간</th>-->
                </tr>

                <tr id="commentList" th:each="comment, count: ${commentList}">
<!--                    <tr th:id="${comment.id}">-->
<!--                        <td id="IdPrint" th:text="${lists.size(Arr) - (commentList.number * commentList.size) - loop.index}"></td>-->
<!--                        <td id="IdPrint" th:text="${comment.id}"></td>-->
                        <td id="writerPrint" th:text="${comment.commentWriter}"></td>
                        <td id="contentPrint" th:text="${comment.commentContent}"></td>
                        <td id="buttonPrint">
                            <button th:id="${comment.id}" class="btn btn-dark float-right" onclick="commentDelete(this.id)">댓글삭제</button>
                        </td>
<!--                    </tr>-->
                </tr>
            </table>
        </div>

    <strong>댓글 작성하기</strong><br><br>
    <!--        작성자-->
    <div class = "row-">

        <div class="form-group row">
            <label for="commentWriter" class="col-sm-2 col-form-label"><strong>댓글 작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" id="commentWriter" name="writer" class="form-control" placeholder="작성자를 입력하세요"/>
            </div>
        </div>
        <!--        내용-->
        <div class="form-group row">
            <label for="commentContent" class="col-sm-2 col-form-label"><strong>댓글 내용</strong></label>
            <div class="col-sm-10">
                <textarea type="text" id="commentContent" name="content" class="form-control" placeholder="내용을 입력하세요"></textarea><br>
                <button id="comment-write-btn" class="btn btn-dark float-right" onclick="commentWrite()">댓글작성</button>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
