<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>

<body>
<header th:insert="fragments/header.html"></header>
<div id="wrap">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:each="board : ${boardList}">
                    <th scope="row">
                        <span th:text="${board.id}"></span>
                    </th>
                    <td>
                        <a th:href="@{|/post/${board.id}|}">
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${board.writer}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(board.createdTime,'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                    <td>
                        <span th:text = "${board.hits}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-dark" th:href="@{/post}" role="button">글쓰기</a>
            </div>
        </div>
        <form action = "/search" method="get">
            <div class = "search">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <input name = "keyword" type = "text" placeholder="검색어를 입력해주세요.">
<!--                    <a class = "btn btn-dark" role = "button">검색하기</a>-->
                    <button class="btn btn-dark" type="submit">검색하기</button>
                    <a class="btn btn-dark" th:href="@{/}" role="button">목록으로 가기</a>
                </div>
            </div>
        </form>
    </div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>

<!--페이징 처리 -->
<!--    <div class="col text-center" th:if="${!boardList.isEmpty()}">-->
<!--        <ul class="pagination"-->
<!--            th:with="-->
<!--                    pageNumber = ${boardList.pageable.pageNumber},-->
<!--                    pageSize = ${boardList.pageable.pageSize},-->
<!--                    totalPages = ${boardList.totalPages},-->
<!--                    startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},-->
<!--                    tempEndPage = ${startPage + pageSize - 1},-->
<!--                    endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})">-->

<!--            <li th:classappend="${boardList.first} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${boardList.first} ? '#' : @{/(page=${pageNumber-1})}">-->
<!--                    <span aria-hidden="true">&lt;</span>-->
<!--                </a>-->
<!--            </li>-->

<!--            <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber} ? 'active'" class="page-item">-->
<!--                <a th:text="${page}" class="page-link" th:href="@{/(page=${page - 1})}"></a>-->
<!--            </li>-->

<!--            <li th:classappend="${boardList.last} ? 'disabled'" class="page-item">-->
<!--                <a class="page-link" th:href="${boardList.last} ? '#' : @{/(page=${pageNumber-1})}" aria-label="Next">-->
<!--                    <span aria-hidden="true">&gt;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
