<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <style>
    .page-link {
      color: #000;
      background-color: #fff;
      border: 1px solid #ccc;
    }

    .page-item.active .page-link {
     z-index: 1;
     color: #555;
     font-weight:bold;
     background-color: #f1f1f1;
     border-color: #ccc;

    }

    .page-link:focus, .page-link:hover {
      color: #000;
      background-color: #fafafa;
      border-color: #ccc;
    }
    </style>
    <script>
        window.onload = function(){
            let tableAnchor = document.querySelectorAll('table a'); //선택자
            let parameter = window.location.href.split("?")[1]; // 페이지 url
            let size = tableAnchor.length;
            for(let i = 0; i < size; i++){
                tableAnchor[i].href += "?"+parameter;
            }
        }
    </script>

</head>

<body>
<header th:insert="fragments/header.html"></header>
<div id="wrap" >
    <div class="container">
        <table class="table" id="boardTable">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:each="board : ${boardList}">
                    <th scope="row">
                        <span th:text="${board.id}"></span>
                    </th>
                    <td>
                        <a th:href="@{|/post/${board.id}|}">
                            <span th:text="${board.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${board.writer}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(board.createdTime,'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                    <td>
                        <span th:text = "${board.hits}"></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--        페이징 관련 버튼-->
        <ul class="pagination justify-content-center"
            th:with = "start=${T(java.lang.Math).floor(boardList.number/10)*10 + 1},
                       last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
            <!--                첫페이지로 가는 버튼-->
            <li class="page-item">
                <a class="page-link" th:href="@{/search(page=1,keyword=${param.keyword})}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <!--                이전 페이지로 가는 버튼-->
            <li class="page-item" th:class="${boardList.first} ? 'disabled'">
<!--                현재 페이지 -1 이 자동으로 적용-->
                <a class="page-link" th:href="${boardList.first} ? '#' :@{/search(page=${boardList.number},keyword=${param.keyword})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <!--                페이지 나열하기-->
            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1}? 'pagination_button page-item active' : 'pagination_button page-item'">
                <a class="page-link" th:text ="${page}" th:href = "@{/search(page=${page}, keyword=${param.keyword})}"></a>
            </li>
            <!--                다음 페이지로 가기-->
            <li class="page-item" th:class = "${boardList.last} ? 'disabled'">
                <a class="page-link"th:href = "${boardList.last} ? '#' :@{/search(page=${boardList.number + 2},keyword=${param.keyword})}" aria-label = "Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <!--                마지막 페이지로 가기-->
            <li class="page-item">
                <a class="page-link" th:href="@{/search(page=${boardList.totalPages},keyword=${param.keyword})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-dark" th:href="@{/post}" role="button">글쓰기</a>
            </div>
        </div>
        <form action = "/search" method="get">
            <div class = "search">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <input name = "keyword" type = "text" placeholder="검색어를 입력해주세요.">
<!--                    <a class = "btn btn-dark" role = "button">검색하기</a>-->
                    <button class="btn btn-dark" type="submit">검색하기</button>

                    <a class="btn btn-dark" th:href="@{/}" role="button">목록으로 가기</a>
                </div>
            </div>
        </form>
    </div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>
