<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 글쓰기</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script>
    window.onload = function(){
    var text = document.getElementById("textarea").value;
    //text = text.replace(/(/[\d\r\n]/g, '<br>');
    $("#inputTitle").focus();
    }
    </script>
</head>
<body>

<style>
.error-class {
    color: red;
    border-color: red;
}
</style>


<header th:insert="fragments/header.html"></header>

<div class="container">
    <form action="/post" th:object="${RequestDto}" method="post" enctype="multipart/form-data">

<!--        제목-->
        <div class="form-group row">
            <label th:for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" maxlength="50" id="inputTitle" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <p class="error-class" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect Data</p>

            </div>
        </div>
<!--        작성자-->
        <div class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" maxlength="50" id="inputWriter" th:field="*{writer}" class="form-control" placeholder="작성자를 입력하세요"
                       th:class="${#fields.hasErrors('writer')}? 'form-control fieldError' : 'form-control'">
                <p class="error-class" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">Incorrect Data</p>
            </div>
        </div>
<!--        내용-->
        <div class="form-group row">
            <label for="textarea" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea id="textarea" maxlength="500" rows = "10" type="text" th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
                       th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
                <p class="error-class" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect Data</p>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-dark" type="submit" role="button" value="글쓰기" />
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>