<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 글쓰기</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="fragments/header.html"></header>

<div class="container">
    <form action="/post" method="post">
<!--        제목-->
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle" />
<!--                <p th:if ="${#fields.hasErrors('writer')}" th:errors="*{writer}">제목은 필수항목입니다. </p>-->
<!--                <input type="text" name="title" class="form-control" id="inputTitle" th:field="*{title}"/>-->
<!--                <span th:errors="*{title}"></span>-->
            </div>
        </div>
<!--        작성자-->
        <div class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" name="writer" class="form-control" id="inputWriter" />

            </div>
        </div>
<!--        비밀번호-->
<!--        <div class="form-group row">-->
<!--            <label for="inputPass" class="col-sm-2 col-form-label"><strong>비밀번호</strong></label>-->
<!--            <div class="col-sm-10">-->
<!--                <input type="text" name="password" class="form-control" id="inputPass" />-->
<!--            </div>-->
<!--        </div>-->
<!--        내용-->
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
            </div>
        </div>
<!--        첨부파일-->

        <div>

        </div>


<!--        <tr class="text-center" th:each="board : ${boardList}">-->
<!--            <th scope="row">-->
<!--                <span th:text="${board.id}"></span>-->
<!--            </th>-->
<!--            <td>-->
<!--                <a th:href="@{'/post/' + ${board.id}}">-->
<!--                    <span th:text="${board.title}"></span>-->
<!--                </a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <span th:text="${board.writer}"></span>-->
<!--            </td>-->
<!--            <td>-->
<!--                <span th:text="${#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--            </td>-->
<!--        </tr>-->
<!--        버튼-->

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-dark" type="submit" role="button" value="글쓰기" />
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>