<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 글 수정</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

    <script>
        window.onload = function(){
            let tableAnchor2 = document.querySelector('#update_btn');
            let parameter2 = window.location.href.split("/")[4].split("?")[1];
            tableAnchor2.href += "?"+parameter2;
        }
    </script>


</head>
<body>
<header th:insert="fragments/header.html"></header>

<div class="container">
    <form th:action="@{'/post/update/' + ${boardDto.id}}" th:object="${boardUpdateDto}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="id" th:value="${boardDto.id}" />
        <div class="form-group row">
<!--            제목-->
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
<!--                <input type="text" id="inputTitle" th:field="*{title}" th:value="${boardDto.title}" class="form-control" placeholder="제목을 입력하세요"-->
<!--                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">-->
<!--                <p class="error-class" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect Data</p>-->
                <input type="text" name="title" class="form-control" id="inputTitle" th:value="${boardDto.title}"/>

            </div>
        </div>
<!--        작성자-->
        <div class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
<!--                <input type="text" id="inputWriter" th:field="*{writer}" th:value="${boardDto.writer}" class="form-control" placeholder="작성자를 입력하세요"-->
<!--                       th:class="${#fields.hasErrors('writer')}? 'form-control fieldError' : 'form-control'">-->
<!--                <p class="error-class" th:if="${#fields.hasErrors('writer')}" th:errors="*{writer}">Incorrect Data</p>-->

                                <input type="text" name="writer" class="form-control" id="inputWriter" th:value="${boardDto.writer}"/>
            </div>
        </div>
<!--        내용-->
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
<!--                <textarea type="text" id="inputContent" th:field="*{content}" th:value="${boardDto.content}" th:text="${boardDto.content}" class="form-control" placeholder="내용을 입력하세요"-->
<!--                          th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>-->
<!--                <p class="error-class" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect Data</p>-->
                                <textarea type="text" name="content" class="form-control" id="inputContent" th:value="${boardDto.content}" th:text="${boardDto.content}"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input id=update_btn th:href = "@{/post/{id}(id=${boardDto.id})}" class="btn btn-dark" type="submit" role="button" value="수정" />
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>