<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>게시판 - 글 수정</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />

    <script type="text/javaScript">
    window.onload=function(){
    let tableAnchor = document.querySelector('#fm1').getAttribute('action');
    let parameter = window.location.href.split("?")[1];
    let final = tableAnchor += "?"+parameter;
    document.querySelector('#fm1').setAttribute('action',final);

    var text = document.getElementById("textarea").value;
    text = text.replaceAll("<br>", "\r\n");
    }
    </script>
</head>

<body>

<style>
.error-class {
    color: red;
    border-color: red;
}
</style>

<header th:insert="fragments/header.html"></header>

<div class="container">
    <form id="fm1" th:action="@{'/post/update/' + ${updateDto.id}}" th:object=${updateDto} method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="id" th:value="${updateDto.id}" />
        <div class="form-group row">
<!--            제목-->
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" maxlength="50" id="inputTitle" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <p class="error-class" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect Data</p>
<!--                <input type="text" name="title" class="form-control" id="inputTitle" th:value="${boardDto?.title}"/>-->
            </div>
        </div>
<!--        작성자-->
        <div class="form-group row">
            <label for="inputWriter" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
<!--                <input type="text" maxlength="50" id="inputWriter" th:field="*{writer}" class="form-control" th:value="${updateDto.writer}"-->
<!--                       th:class="${#fields.hasErrors('writer')}? 'form-control fieldError' : 'form-control'" disabled/>-->
<!--                <p class="error-class" th:errors="*{writer}">Incorrect Data</p>-->
                <input type="text" name="writer" class="form-control" id="inputWriter" th:value="${updateDto.writer}" readonly/>
            </div>
        </div>
<!--        내용-->
        <div class="form-group row">
            <label for="textarea" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea maxlength="500" type="text" id="textarea" rows = "10" th:text="${updateDto.content}"
                          th:field="*{content}" class="form-control" placeholder="내용을 입력하세요"
                          th:class="${#fields.hasErrors('content')}? 'form-control fieldError' : 'form-control'"></textarea>
                <p class="error-class" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Incorrect Data</p>
<!--                <textarea type="text" name="content" class="form-control" id="inputContent" th:value="${boardDto?.content}" th:text="${boardDto?.content}"></textarea>-->
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
<!--                데이터 수정 가능-->
                <button id=update_btn type="submit" class="btn btn-dark">수정</button>
<!--                데이터 수정 가능(url 대체 불가)-->
<!--                <input id=update_btn class="btn btn-dark" type="submit" role="button" value="수정" />-->
            </div>
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>